<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ixanq.dao.VisitorDao">
           <!--游客增删改查-->
    <select id="showAll" resultType="Visitor">
        SELECT * FROM visitor
    </select>

    <select id="findByName" parameterType="String" resultType="Visitor">
        SELECT * FROM visitor WHERE name=#{name}
    </select>
    
    <select id="findByNameAndPassword" resultType="Visitor">
        SELECT * FROM visitor WHERE name=#{name} and password=#{password}
    </select>

    <insert id="add" parameterType="Visitor">
        INSERT into visitor(name, password) VALUES (#{name},#{password})
    </insert>

    <update id="updatePassword" parameterType="Visitor">
        UPDATE visitor SET password WHERE id=#{id}
    </update>

               <!--简历增删改查-->
    <select id="findAllResume" resultType="Resume">
        select * from resume
    </select>

    <select id="findResumeByVisitorName" parameterType="String" resultType="Resume">
        select * from resume WHERE visitor_name=#{visitorName}
    </select>

    <insert id="addResume" parameterType="Resume">
        INSERT INTO resume(visitor_name,name, gender, age, political_status, tel, email, last_work, salary, department_id, work_position_id, master, work_background, hobbies)
        VALUES (#{visitorName},#{name},#{gender},#{age},#{politicalStatus},#{tel},#{email},#{lastWork},#{salary},#{departmentId},#{workPositionId},#{master},#{workBackground},#{hobbies})
    </insert>
    <update id="updateResume" parameterType="Resume">
        UPDATE resume SET visitor_name=#{visitorName},name=#{name},gender=#{gender},age=#{age},political_status=#{politicalStatus},tel=#{tel},email=#{email},last_work=#{lastWork},salary=#{salary},
        department_id=#{departmentId},work_position_id=#{workPositionId},work_background=#{workBackground}, hobbies=#{hobbies} WHERE id=#{id}
    </update>

    <insert id="addResumeForManager" parameterType="ResumeForManager">
        INSERT INTO resume_for_manager(advertise_id,visitor_name,name, gender, age, political_status, tel, email, last_work, salary, department_id, work_position_id, master, work_background, hobbies,status)
        VALUES (#{advertiseId},#{visitorName},#{name},#{gender},#{age},#{politicalStatus},#{tel},#{email},#{lastWork},#{salary},#{departmentId},#{workPositionId},#{master},#{workBackground},#{hobbies},#{status})
    </insert>
    <select id="findResumeForManagerByAdvertiseId" parameterType="Integer" resultType="ResumeForManager">
        select * from resume_for_manager WHERE advertise_id=#{advertiseId}
    </select>
    <select id="findResumeForManagerByAdvertiseIdAndVisitorName" resultType="ResumeForManager">
        select * from resume_for_manager WHERE advertise_id=#{advertiseId} AND  visitor_name=#{name}
    </select>

    <insert id="addGoInterview" parameterType="GoInterview">
        INSERT INTO go_interview(visitor_name, view_status, pass_status)
         VALUES (#{visitorName},#{viewStatus},#{passStatus})
    </insert>




</mapper>